<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c9fcc">  <td>15/01/26 22:28:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestHomePage.CloseBrowserAndQuitSelenium()[pri:0, instance:test.TestHomePage@110c2e8]">&lt;&lt;CloseBrowserAndQuitSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6321860</td>   <td></td> </tr>
<tr bgcolor="7c9fcc">  <td>15/01/26 22:27:01</td>   <td>-107484</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestHomePage.setup()[pri:0, instance:test.TestHomePage@110c2e8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6321860</td>   <td></td> </tr>
<tr bgcolor="7c9fcc">  <td>15/01/26 22:27:29</td>   <td>-78859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestHomePage.test_Search_Issue_Page_Appear()[pri:0, instance:test.TestHomePage@110c2e8]">test_Search_Issue_Page_Appear</td> 
  <td>main@6321860</td>   <td></td> </tr>
</table>
